// Responsive
@media (max-width: 1099px) {
  .section .container {
    padding-top: 70px;
  }
  .aside {
    left: -250px;
    &.open {
      left: 0;
      transition: all 0.5s ease;
    }
  }
  .aside .nav-toggler {
    display: flex;
    left: 30px;
    &.open {
      left: 270px;
      transition: all 0.5s ease;
    }
  }
  .section {
    left: 0;
    &.open {
      left: 250px;
      transition: all 0.5s ease;
    }
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}
@media (max-width: 990px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .home {
    .home-info {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .home-img {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
