.style-switcher {
    position: fixed;
    right: 0;
    top: 50px;
    padding: 15px;
    width: 250px;
    border: 1px solid var(--skin-color);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 15px;
    margin-right: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.style-switcher.open {
    cursor: pointer;
    transform: translateX(0);
    transition: all 0.5s ease;
    /* se puede usar la seudoclase hoover */
}

.style-switcher .s-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-100);
    right: 100%;
    border: 1px solid var(--skin-color);
    margin-right: 25px;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--skin-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.style-switcher .s-icon i {
    line-height: 40px;
}

.style-switcher .style-switcher-toggler {
    top: 0;
}

.style-switcher .light-mode {
    top: 60px;
}

.style-switcher .s-icon:hover {
    transform: scale(1.1);
}

.style-switcher h4 {
    margin: 0 0 10px;
    color: var(--text-black-100);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;

}

.style-switcher .colors {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.style-switcher .colors span {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 5px;
    border-radius: 50%;
}

.style-switcher .color {
    background-color: rgb(0, 255, 0);
}

.style-switcher .color1 {
    background-color: rgb(0, 238, 255);
}

.style-switcher .color2 {
    background-color: rgb(187, 0, 255);
}

.style-switcher .color3 {
    background-color: rgb(255, 213, 0);
}

.style-switcher .color4 {
    background-color: rgb(255, 0, 47);
}
